@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
    --primary: #eebf00;
    --secondary: #232b38;
    --ternary: #6c6c6c;
    --danger: #fe4545;
    --pure: #fefefe;
    --light: #f0f0f0;
    --heaven: #ffffff;
    --footer: #2d333f;
    --radius: 0.5rem;
    --transition: all 0.3s linear;
    --light-shadow: 0 5px 15px rgba(233, 233, 233, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--footer);
    font-family: "Poppins", sans-serif;

    letter-spacing: 2px;
    color: var(--pure) !important;
    font-size: 0.85rem;
    overflow-x: hidden !important;
}
.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.bg-clr {
    background-color: var(--secondary);
}
.bg-clr2 {
    background-color: var(--ternary);
}
footer {
    background-color: var(--secondary);
    height: 100px;
}

.light-shadow {
    box-shadow: var(--dark-shadow);
}

main {
    min-height: calc(100vh - 403px);
}
@media (max-width: 576px) {
    main .button-two {
        display: flex;
        flex-direction: column;
    }
    main .button-two button {
        margin-top: 1rem;
        width: 60%;
    }
    main .wrapper {
        justify-content: center;
    }

    main .input-group {
        width: 100% !important;
        flex-direction: column;
    }
    main select {
        width: 50% !important;
    }
    header section.top-nav {
        flex-direction: column;
    }
    header section div {
        flex-direction: column;
        justify-content: left;
    }
    header section div a {
        margin: 0 !important;
    }
}

header a {
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.special {
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}
.high:hover {
    color: #eebf00;
    border-bottom: 2px solid var(--primary);
}
